* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.header__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 30px;
}

.header__nav {
    background: #3e8989;
    padding: 37px 0;
    width: 100%;
}

.header__nav-link {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}

.header__nav-form {
    display: flex;
}

.header__nav-input {
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 20px 0 0 20px;
    background: #fff;
    width: 216px;
    height: 35px;
}

.header__nav-input::placeholder {
    font-family: 'Rubik r';
    font-weight: 400;
    font-size: 16px;
    color: #898989;
}

.header__nav-btn {
    border-radius: 0 20px 20px 0;
    background: #295E5E;
    width: 74px;
    height: 35px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Rubik r';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.header__content {
    background-image: url(../images/index.png);
    max-width: 1440px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header__content-title {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding-top: 250px;
}

.header__content-text {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 20px;


}

.header__content_btn {
    margin-top: 50px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background: #b4436c;

    font-family: "Inter";
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    padding: 14px 77px;



}

.main-box-first {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 17px;
}

.main-box-first-img {
    max-width: 545px;
    width: 100%;
    height: 261px;
}

h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    color: #3e8989;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
}

p {
    font-family: 'Rubik r';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    padding-top: 8px;
    max-width: 545px;

}

.main-box-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.products__item-bottom-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #000;
    padding-top: 30px;
    text-align: center;
    display: block;
    transition: 300ms;
}

.products__item-bottom-title:hover {
    color: #b4436c;
}

.main-box-htird-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    color: #3e8989;
    margin-bottom: 50px;
    margin-top: 80px;
    text-align: start;
}

.main-box-third-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

pre {
    font-family: 'Rubik r';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    padding-top: 8px;
    max-width: 545px;
}

.footer {
    margin-top: 104px;
    background: #3e8989;

}

.footer-box {
    max-width: 1440px;
    width: 100%;
    height: 150px;
    background: #3e8989;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.footer-info {
    font-family: 'Rubik r';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

@media (max-width: 1075px) {
    .header__nav-box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
 

    }

    .main-box-first {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .main-box-second {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:650px){
    .title {
        font-size: 25px;
        font-weight: 400px ;
    }
    .header__content-title{
        font-size: 50px;
        font-weight:400;
    }
    .header__content-text{
        font-size: 20px;
    }
    .main-box-first-img {
        max-width: 500px;
        width: 100%;
    }
    .main-box-third-info{
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
    }
    
}